/* General CSS */

html {

    --bgMain: rgb(231, 231, 231);
    --bgFeature: rgb(25, 25, 251);
    --textMain: rgb(12, 12, 12);
    --textFeature: rgb(236, 235, 235);
    --textAlt: rgb(6, 6, 15);

}

.clearfix::after {

    display: table;
    content: "";
    clear: both;

}

body {

    font-family: "Palatino", Times, serif;;
    background-color: var(--bgMain);
    color: var(--textMain);

    min-width: 260pt;

}

header, footer, nav {

    background-color: var(--bgFeature);
    color: var(--textFeature);
    padding: 4pt;
    margin: 4pt;

}

main, footer {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer a {

    text-decoration: none;
    color: inherit;
    font-style: italic;

}

footer a:hover {

    color: var(--textAlt);
}

#masthead, .slogan {

    text-align: right;
    padding-right: 2%;

    font-size: 10vw;
    font-style: italic;

}

.slogan, footer {

    font-size: 3vw;

}

main {

    margin: 10pt;

}

.featureimage {

    width: 40%;

}

main>h1 {

    font-family: "Palatino", Times, serif;
    text-align: center;

}

.right {

    float:right;

}

footer {

    text-align: center;

}

.alignright {

    text-align: right;

}

.attribution {

    font-size: 1.5vw;

}

/* Mobile Layout */

#largescreen, #hugescreen {

    display: none;

}

nav#smallscreen {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

.hoverable>a>img {

    width: 40px;

}

.hoverable {

    position: relative;
    display: inline-block;
    width: 40px;


}

.hoverable .buttondescription {

    visibility: hidden;
    border: solid var(--textMain) 2px;
    border-radius: 7px;
    padding: 1pt 2pt;
    font-size: 12pt;
    background-color: var(--bgFeature);
    text-align: center;
    color: var(--textFeature);

    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    z-index: 1;

}

.hoverable:hover .buttondescription {

    visibility: visible;

}

/* Large Screen Layout min width 800px */

@media screen and (min-width:640px) {

    nav#smallscreen {

        display: none;

    }

    nav#largescreen {

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

    }

}

/* Desktop Screen Layout min width of 1200px */

@media screen and (min-width:1024px) {

    nav#largescreen {

        display: none;

    }

    nav#hugescreen {

        display: block;

    }

    body {

        display: grid;
        grid-template:  "header header"
                        "nav    main"
                        "footer footer";
        grid-template-columns: 1fr 4fr;

    }

    nav {

        grid-area: nav;

    }

    header {

        grid-area: header;

    }

    footer {

        grid-area: footer;
    }

    main {

        grid-area: main;
    }
    

    #hugescreen ul {

        list-style: none;


    }

    #hugescreen ul li {

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin: 50px 10px;

    }

    #hugescreen ul li a {

        text-decoration: none;
        color: var(--textFeature);
        font-size: 18pt;
    
    }
    
    #hugescreen ul li a:hover {
    
        color: var(--textAlt);
    }

    #hugescreen ul li img {

        height: 40px;
        margin-right: 20px;

    }    

}
